html {
    position: relative;
     min-height: 100%;
 }

 .modern-footer {
    display: flex;
    position: relative;
}

body {
        background-color: #414141;
    }

.section {
    padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .text-grey {
        color: #818181;
    }

    .bg-img {
        background: url(../img/bg_camion.jpg); 
        background-size: cover;
        width: 100%;
        height: 100%;
        max-width: 100vw;
    }

    .navbar-transparent {
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    
    .resizable {
        width: 100%;
        height: 100%;
        max-width: 100vw;
    }
    
    .footer {
        position: absolute;
        bottom: 0;
        height: 180px;
        background-color: #212121;
        width: 100%;
        color: #FFF;
    }
    
    .footer-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30px;
        background-color: #111111;
        width: 100%;
        color: #FFF;
    }
    
    .central-image {
        background-size: cover;
        filter: brightness(25%);
    }
    
    .centered {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: brightness(100%);
    }
    
    @media screen and (max-width: 990px) {
        .test {
            padding-top: 10px;
            position: inherit;
            left: 0;
        }
    }

    .bg-shadow {
        -webkit-box-shadow: 0px 1px 9px 13px rgba(222,222,222,1);
        -moz-box-shadow: 0px 1px 9px 13px rgba(222,222,222,1);
        box-shadow: 0px 1px 9px 13px rgba(222,222,222,1);
    }
    
    @media screen and (min-width: 990px) {
        .test {
            position: absolute;
            right: 0;
        }
    }

.avatar {
    outline:none;
    border:none;
    padding:0;
    margin:0;
    background:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    box-shadow:0 1px 3px rgba(0,0,0,.25);
    border-radius:4px;
    width:70px;
    height:70px;
    margin-left:50px;
    flex:none;
    background-color:#333;
    background-size:contain
    ;background-repeat:no-repeat;
    background-position:50%;
    display:block;
}

.avatar--nav2 {
    width:45px;
    height:45px;
    box-shadow:none;
    border-radius:50%;
    overflow:hidden;
    transition:width .3s,height .3s
}

.avatar-img {
    background-image: url("../img/users/default-user.png");
}

.box {
    position: absolute;
    width:100%;
    z-index:999;
    top:50px;
}

.login-box__content {
    box-shadow:0 1px 3px rgba(50,50,50,.25);
    transform:translateZ(0);
    position:absolute;
    top:20px;
    width:200px;
    display:flex;
    flex-direction:column;
    font-size:12px;
    overflow:hidden;
    visibility: hidden;
    transition:none;
    color:#999;
    background-color:#dee2e6;
}
#background_acceuil{
    width:100%;
    height:1000px;
    background-image:url(images/camion.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#texte_acceuil{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    margin-left: 200px;
    color: white;

}

#bouton_acceuil{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.bouton{
    
    margin-bottom: 100px; 
   
    margin-right: 10px;
    margin-top: 20px;

    width: 130px;
}

.bouton_noir:hover{
    background-color: rgb(184, 180, 180);
    border:rgb(184, 180, 180);
    color:white;
}

#bloc_service{
    width: 100%;

    background-image:url(images/bg_service.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blank{
    width: 100%;
    height: 80px;
}
#titre_service h1{
    font-size: 30px;
    margin-left: 425px;
    margin-bottom: 60px;
}
#presentation_service{
    display: flex;
    flex-wrap: wrap;
    margin-left: 400px;
    margin-right: 350px;
}
.element{
    width: 300px;
    height: 250px;
    margin-left: 25px;
    margin-right: 55px;
    text-align: justify;

}
.element img{
    width: 85px;
    height: 85px;
}
.element h1{
    margin-top: 10px;
    font-size: 20px;
}
.element p{
    font-size: 15px;
}
html{
    scroll-behavior: smooth;
}

#bloc_equipe{
    width: 100%;

    background-image:url(images/bg_equipe.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#presentation_equipe{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    width: 100%;
}

#titre_equipe h1{
    font-size: 30px;
    margin-left: 425px;
    margin-bottom: 80px;
    color: black;
}

.membre{
    width: 350px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.membre img{
    width: 250px;
    height: 250px;

    border-radius: 150px;
    border: 1px solid rgb(51, 50, 50);
    border-style: ridge;
    overflow: hidden;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

.membre h1{
    text-align: center;
    font-size: 30px;
}

.membre p{
    text-align: center;
}

.btn-linkedin {
    background: #0E76A8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
}
.btn-linkedin:active, .btn-linkedin:hover {
    background: #084461;
    color: #fff;
}
#macarte{
	height:550px;
	width:100%;	
}


@media only screen and (max-width: 991px) {
    .mobile-profile{
        flex-basis: initial;
    }
    .mobile-profile2{
        margin-left: 30%;
    }

}

